<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fyers-apiv2-login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
</head>
<body>

<br>
<div class="container py-4 bg-dark text-light">
    <div class="py-3 bg-success text-white">
        Enter authronzion code (or) token (or) tiker/symbol any below
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
        </svg>
    </div>
    <p class="h1 text-left">{{head}}</p>

    <div class="text-center">
        <form action= {{link}} method="post">
            <input class="form-control" type="text" name="code">
            <input class="btn btn-primary px-5 my-3 text-center" type="submit">
        </form>
    </div>
</div>

<p class="user-select-all">{{info}}</p>

</body>
</html>